:host {
  height: 100%;
}

mat-list {
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  .menu div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}


@media (min-width: 768px) {
  .mat-table {
    grid-template-columns: auto 2fr 2fr 2fr auto;
  }
}
