:host {
  height: 100%;
}

.component-container {
  height: inherit;
  gap: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 32px;
}

@media (min-width: 768px) {
  .mat-table {
    grid-template-columns: auto 2fr 2fr 2fr auto;
  }
}
