<div class="component-container">
    <app-header>
        Perfil
    </app-header>
    <div class="content-container">
        <div style="overflow: auto;">
            <mat-list>
                <mat-list-item class="menu" (click)="navigateDispensa()">
                    <div><span>Dispensa</span><mat-icon>chevron_right</mat-icon></div>
                </mat-list-item>
                <mat-list-item class="menu" (click)="desagrupar()">
                    <div><span>Desagrupar dispensa</span><mat-icon>chevron_right</mat-icon></div>
                </mat-list-item>
                <mat-list-item class="menu" (click)="navigateHistorico()">
                    <div><span>Histórico de compras</span><mat-icon>chevron_right</mat-icon></div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
