<div class="list-header">
    <div class="header">
        <button mat-icon-button (click)="closeEmit.emit()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="title">
            <div class="title-header">

                <mat-form-field *ngIf="isEditing">
                    <input matInput [(ngModel)]="editingName" (blur)="updateName()" (keydown.enter)="updateName()"
                        autofocus />
                    <button matSuffix mat-icon-button (click)="updateName()">
                        <mat-icon matTooltip="Atualizar..">done</mat-icon>
                    </button>
                </mat-form-field>

                <ng-container *ngIf="!isEditing">
                    <h3 (click)="enableEditing()"> {{ listNome }} </h3>
                    <small>({{ itemListDone.length }} de {{ itemListDone.length + itemListWait.length }})</small>
                </ng-container>

            </div>

            <div class="total-value" *ngIf="totalValue > 0">
                <small style="opacity: 0.5;">subtotal: {{ subtotalValue | currency }}</small>
                <mat-divider [vertical]="true"></mat-divider>
                <small style="
                color: #00b894;
                font-weight: 500;
                letter-spacing: 1px;">Total: {{ totalValue | currency }}</small>
            </div>
        </div>

        <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="sortMenu">
                <mat-icon>sort</mat-icon>
                <span>Ordenar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="arquivarCompra()">
                <mat-icon>archive</mat-icon>
                <span>Dispensa</span>
            </button>
            <button mat-menu-item (click)="comprarTudo()">
                <mat-icon>check_circle</mat-icon>
                <span>Comprar tudo</span>
            </button>
            <button mat-menu-item (click)="devolverTudo()">
                <mat-icon>close</mat-icon>
                <span>Devolver tudo</span>
            </button>
        </mat-menu>

        <mat-menu #sortMenu="matMenu" class="sort-menu">
            <button mat-menu-item (click)="sortList('inclusion')" [ngClass]="getSortClass('inclusion')">
                <mat-icon>list</mat-icon>
                Ordem de inclusão
            </button>
            <button mat-menu-item (click)="sortList('asc')" [ngClass]="getSortClass('asc')">
                <mat-icon>sort_by_alpha</mat-icon>
                Nome (A → Z)
            </button>
            <button mat-menu-item (click)="sortList('desc')" [ngClass]="getSortClass('desc')">
                <mat-icon>sort_by_alpha</mat-icon>
                Nome (Z → A)
            </button>
        </mat-menu>

    </div>
    <mat-form-field class="search-field">
        <mat-label>Pesquisar</mat-label>
        <input matInput #campoSearch
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            [matAutocompletePosition]="'above'"
            placeholder="pesquisar" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="searchTerm">
                <mat-chip-list>
                    <mat-chip style="color: #fff;" (click)="$event.stopPropagation(); addItemSimples(searchTerm);">
                        <mat-icon style="margin: 0;">add_circle</mat-icon>
                        <small style="margin-inline: 8px;">{{ searchTerm }}</small>
                    </mat-chip>
                </mat-chip-list>
            </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="edicao-container">
        <div class="list-container">
            <mat-list class="list-wait">
                <mat-list-item id="itens" *ngFor="let item of itemListWait; index as indice"
                    [class.editing]="item.id === editedItemId" (click)="editItem(item, itemListWait, indice)"
                    class="swipeable-item"><app-lista-corrente-item [item]="item"></app-lista-corrente-item>
                </mat-list-item>
            </mat-list>

            <mat-list class="list-done">
                <mat-list-item id="itens" *ngFor="let item of itemListDone; index as indice"
                    (click)="editItem(item, itemListDone, indice)" [class.editing]="item.id === editedItemId">
                    <app-lista-corrente-item [item]="item"></app-lista-corrente-item>
                </mat-list-item>
            </mat-list>
        </div>

        <!-- <button mat-button class="floating-btn" (click)="addItem()" *ngIf="!isSearchOpen"> + Adicionar itens</button> -->
        <button mat-raised-button class="floating-btn" (click)="addItem();" *ngIf="!isSearchOpen">
            <div style="display: flex; gap: 8px; align-items: center;">
                <mat-icon>add_circle</mat-icon>
                <small>Adicionar itens</small>
            </div>
        </button>

        <div *ngIf="isSearchOpen" class="search-panel" [ngClass]="{'open': isSearchOpen}">
            <app-search-list [idLista]="idLista" (closeEmit)="closeSearch()"></app-search-list>
        </div>
    </div>
</div>
