<div class="list-header">
    <div class="header">
        <button mat-icon-button (click)="closeEmit.emit()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="title">
            <div class="title-header">

                <mat-form-field *ngIf="isEditing">
                    <input matInput [(ngModel)]="editingName" (blur)="updateName()" (keydown.enter)="updateName()" autofocus />
                    <button matSuffix mat-icon-button (click)="updateName()">
                        <mat-icon matTooltip="Atualizar..">done</mat-icon>
                    </button>
                </mat-form-field>

                <ng-container *ngIf="!isEditing">
                    <h3 (click)="enableEditing()"> {{ listNome }} </h3>
                    <small>({{ itemListDone.length }} de {{ itemListDone.length + itemListWait.length }})</small>
                </ng-container>

            </div>

            <div class="total-value" *ngIf="totalValue > 0">
                <small style="opacity: 0.5;">subtotal: {{ subtotalValue | currency }}</small>
                <mat-divider [vertical]="true"></mat-divider>
                <small style="
                color: #00b894;
                font-weight: 500;
                letter-spacing: 1px;">Total: {{ totalValue | currency }}</small>
            </div>
        </div>
        <button mat-button
            style="
                border: none;
                border-radius: 50px;
                cursor: pointer;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            "
            (click)="arquivarCompra()">
            <div style="
                display: flex;
                align-items: center;
                gap: 8px;
                opacity: 0.6;
                "
            >
                <mat-icon>archive</mat-icon>
                <small style="font-size: small;">Dispensa</small>
            </div>
        </button>

    </div>

    <div class="edicao-container">
        <div class="list-container">
            <mat-list class="list-wait">
                <mat-list-item id="itens" *ngFor="let item of itemListWait; index as indice"
                    (click)="editItem(item, itemListWait, indice)" class="swipeable-item"><app-lista-corrente-item
                        [item]="item"></app-lista-corrente-item>
                </mat-list-item>
            </mat-list>

            <mat-list class="list-done">
                <mat-list-item id="itens" *ngFor="let item of itemListDone; index as indice"
                    (click)="editItem(item, itemListDone, indice)">
                    <app-lista-corrente-item [item]="item"></app-lista-corrente-item>
                </mat-list-item>
            </mat-list>
        </div>

        <button mat-button class="floating-btn" (click)="addItem()" *ngIf="!isSearchOpen"> + Adicionar itens</button>

        <div *ngIf="isSearchOpen" class="search-panel" [ngClass]="{'open': isSearchOpen}">
            <app-search-list [idLista]="idLista" (closeEmit)="closeSearch()"></app-search-list>
        </div>
    </div>
</div>
