:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-header {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .search-field {
    width: 100%;
  }

  .search-content {
    display: flex;
    overflow: hidden;
  }

  .itens-search {
    overflow: auto;
    height: 100%;
  }

  mat-list {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  mat-list-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .show-barcode {
    border-radius: 50%;
    transition: background-color 0.2s ease;
  }

