:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-header {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-field {
  width: 100%;
}

.search-content {
  display: flex;
  overflow: auto;
}

mat-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

mat-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

mat-list-item:hover {
  background-color: #f0f0f0;
}

.show-barcode {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
