<div class="flex-row">

    <div class="produto">
        <button class="item-actions mark-btn" (click)="toggleItemComprado($event)">
            {{ item.isPurchased ? '✓' : '○' }}
        </button>

        <h4 style="margin: 0;">{{ item.name | capitalize: true }}</h4>


    </div>
    <div class="preco">

        <div class="detalhe" (click)="editItem($event)">

            <small>{{ item.quantity | number:'1.1-2'}} {{ item.unit }}</small>
            <small *ngIf="item.price">{{ item.price | currency}}</small>

        </div>
        <button class="item-actions remove-btn" (click)="removeItem($event)">×</button>
    </div>
</div>
<small *ngIf="item.notas" style="margin-left: 32px;"> {{item.notas}} </small>
