<div class="flex-row">

    <div class="produto">
        <button class="item-actions mark-btn" (click)="toggleItemComprado($event)">
            {{ item.isPurchased ? '✓' : '○' }}
        </button>

        <h4 style="margin: 0;">{{ item.name | capitalize: true }}</h4>


    </div>
    <div class="preco">
        <mat-chip-list>
            <mat-chip *ngIf="item.price" (click)="editItem($event)" class="chip-price">
                <span>
                    {{ item.price | convertWithFn:getPrice | currency}} ({{ item.quantity | number }} {{ item.unit }})
                </span>
                <small *ngIf="lastPrice" class="last-price" [attr.grow]="grow">{{ lastPrice | convertWithFn:getPrice | currency}}</small>
            </mat-chip>
            <mat-chip *ngIf="!item.price" (click)="editItem($event)">{{ item.quantity | number }} {{ item.unit
                }}</mat-chip>
        </mat-chip-list>
        <button class="item-actions remove-btn" (click)="removeItem($event)">×</button>
    </div>
</div>
<small *ngIf="item.notas" style="margin-left: 32px;"> {{item.notas}} </small>
