@use "theme-variables" as *;

:host {
  height: 100%;
}

/* Define um contêiner geral com altura total do router-outlet */
.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
