<mat-card class="mat-elevation-z0">
    <div fxLayoutAlign="space-between">
        <app-header>Configurações</app-header>
    </div>
    <mat-card-content>
        <mat-nav-list class="nav-list">
            <div class="menu-list-items-container">
                <app-configuracao-item (itemMenuClick)="close()" [url]="rotas.grupoConta" text="Grupo Lançamento" icon="home"></app-configuracao-item>
                <app-configuracao-item (itemMenuClick)="close()" [url]="rotas.planoConta" text="Plano Conta" icon="home"></app-configuracao-item>
                <app-configuracao-item (itemMenuClick)="close()" [url]="rotas.meioMov" text="Meio Movimentação" icon="home"></app-configuracao-item>
            </div>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
