@use "theme-variables" as theme;

:host {
  overflow: hidden;

}.mat-icon {
  transition: transform 0.3s ease; /* Suaviza a rotação */
}

.rotated {
  transform: rotate(180deg); /* Rotaciona o ícone quando marcado */
}
.notification-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding-inline: 24px;
  &:hover{
    background: rgba(0, 0, 0, 0.04);

  }
}
.notification-list {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  background-color: white;

  overflow: auto;

  .notification-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;

    &.unread {
      background-color: #f0f4f7;
    }

    .notification-content {
      flex: 1;
    }

    .notification-time {
      font-size: 0.75rem;
      color: #888;
    }

    button {
      color: theme.$primary-color;
    }
  }
}

h3 {
  color: theme.$primary-color;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-content {
  display: flex;
  overflow: hidden;
  height: 100%;
}
