<div class="boas-vindas">
    <div class="carrossel">
        <div class="slides" style="transform: translateX(0%);">
            <div class="slide">
                <h2>Economize Tempo</h2>
                <img alt="Economize Tempo" src="assets/img/3d-clock-money.jpg"
                    style="--mouse-x: 374px; --mouse-y: 421px;">
                <p>Registre suas despesas de maneira rápida e eficiente.</p>
            </div>
            <div class="slide">
                <h2>Monitoramento Inteligente</h2><img alt="Monitoramento Inteligente"
                    src="assets/img/3d-monitor-money.jpg" style="--mouse-x: 374px; --mouse-y: 421px;">
                <p>Acompanhe seus gastos e identifique oportunidades para economizar.</p>
            </div>
            <div class="slide">
                <h2>Sugestões Personalizadas</h2><img alt="Sugestões Personalizadas"
                    src="assets/img/3d-sugestoes-personalizadas.jpg" style="--mouse-x: 374px; --mouse-y: 421px;">
                <p>Receba recomendações com base nos seus padrões de gastos.</p>
            </div>
            <div class="slide">
                <h2>Orçamento Categorizado</h2><img alt="Orçamento Categorizado"
                    src="assets/img/3d-orcamento-categorizado.jpg" style="--mouse-x: 374px; --mouse-y: 421px;">
                <p>Crie metas financeiras personalizadas e melhore sua gestão de despesas.</p>
            </div><!---->
        </div><button class="prev">❮</button><button class="next">❯</button>
    </div>
    <div class="indicadores">
        <span class="indicador active"></span>
        <span class="indicador"></span>
        <span class="indicador"></span>
        <span class="indicador"></span>
    </div>
</div>
