<div class="base">
    <div class="toast-main" [ngClass]="messageClass">
        <div class="side-bar-color"></div>
        <mat-icon>{{ icon }}</mat-icon>
        <div class="message-box">
            <div class="mat-body-strong">
                {{ data.message }}
            </div>
            <div class="mat-small">{{ data.description }}</div>
        </div>
        <button *ngIf="dismissing" mat-button class="icon-close" (click)="desfazer()">
            Desfazer
        </button>
        <button mat-button class="icon-close" (click)="dismiss()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
</div>
