:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
}

:host, h3, .opcoes {
  cursor: pointer;
}

.opcoes {
  align-items: center;
  display: flex;
  gap: 8px;
}

