<div class="opcoes" style="align-items: center;">
    <h3 appTextEllipsis matTooltip> {{ this.item.lists.name }} </h3>
    <mat-icon *ngIf="this.item.lists.share" style="opacity: 0.3; font-size: 16px; height: 16px; width: 16px;">cloud_done</mat-icon>
</div>
<div class="opcoes">
    <div style="display: flex; flex-direction: column; align-items: center; gap: 4px;">
        <small> {{ qtdItens }} </small>
        <small *ngIf="subtotalValue > 0"> {{ subtotalValue | currency}} </small>
    </div>
    <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onCopyList()">
        <mat-icon>file_copy</mat-icon>
        <span>Copiar Lista</span>
    </button>

    <button mat-menu-item (click)="onShareList()">
        <mat-icon>share</mat-icon>
        <span>Compartilhar Lista</span>
    </button>

    <button mat-menu-item (click)="onResetShare()" *ngIf="this.item.lists.share">
        <mat-icon>cloud_off</mat-icon>
        <span>Remover compartilhamento</span>
    </button>

    <button mat-menu-item (click)="abrirLista()">
        <mat-icon>edit</mat-icon>
        <span>Editar Lista</span>
    </button>

    <!-- Item de remover com cor vermelha -->
    <button mat-menu-item (click)="confirmRemove($event)" class="red-option">
        <mat-icon>delete</mat-icon>
        <span>Remover Lista</span>
    </button>
</mat-menu>
