<div class="container">
    <mat-card class="mat-elevation-z0">
        <mat-card-title>
            <div class="header">
                <div>
                    <button mat-raised-button color="primary" (click)="salvar()">
                        {{ btnTexto }}
                    </button>
                    <button mat-raised-button color="warn" (click)="deletar()">
                        Excluir
                    </button>
                </div>
                <small [ngClass]="{ 'no-display': data.item }">
                    <mat-slide-toggle [(ngModel)]="multiAdd" color="primary">+ de 1</mat-slide-toggle>
                </small>
                <button mat-stroked-button color="primary" (click)="cancelar()">
                    Cancelar
                </button>
            </div>
        </mat-card-title>
        <mat-card-content>
            <form class="form-flex">

                <mat-form-field class="item-flex-l larger">
                    <mat-label>Grupo de Contas</mat-label>
                    <mat-select [formControl]="form.controls.grupoContasId">
                        <mat-option *ngFor="let grupo of gruposConta" [value]="grupo.id">
                            <!-- <div class="grupo-contas">
                                <mat-icon>{{ grupo.icone }}</mat-icon>
                                <span>{{ grupo.title }}</span>
                            </div> -->
                            {{ grupo.title }}
                        </mat-option>
                    </mat-select> </mat-form-field>

                <mat-form-field class="item-flex-l larger">
                    <mat-label>Title</mat-label>
                    <input matInput [formControl]="form.controls.title" />
                </mat-form-field>

            </form>
        </mat-card-content>
    </mat-card>
</div>
