.bottom-sheet {
  padding: 16px;

  .drag-handle {
    width: 50px;
    height: 5px;
    background-color: #ccc;
    border-radius: 2.5px;
    margin: 0 auto 16px;
    cursor: pointer; // Mudança de cursor para indicar que pode ser clicado/arrastado
  }

  .complete-edit {
    transition: max-height 0.3s ease; // Transição suave ao expandir
  }

  .simple-edit {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .complete-edit {
    margin-top: 16px;
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
