@use '@angular/material' as mat;

// Incluir o núcleo do Material
@include mat.core();

// Paletas principais para o tema claro e escuro
$primary-palette: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00b894,
  // Cor principal
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (50: #000000,
    500: #ffffff)
);

$accent-palette: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #00796b,
  // Cor acentuada
  600: #00695c,
  700: #004d40,
  800: #002f28,
  900: #001712,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (50: #000000,
    500: #ffffff)
);



// Definindo paletas para uso do Angular Material
$app-theme-primary: mat.define-palette($primary-palette, 500);
$app-theme-accent: mat.define-palette($accent-palette, 500);

// Configuração de tipografia padrão
$typography-config: mat.define-typography-config($font-family: 'Roboto, "Helvetica Neue", sans-serif'
  );

// Definindo o tema claro
$app-light-theme: mat.define-light-theme((color: (theme-type: light,
        primary: $app-theme-primary,
        accent: $app-theme-accent,
      ),
      typography: $typography-config));

// Definindo o tema escuro
$app-dark-theme: mat.define-dark-theme((color: (theme-type: dark,
        primary: $app-theme-primary,
        accent: $app-theme-accent,
      ),
      typography: $typography-config));


.light-theme {
  @include mat.all-component-colors($app-light-theme);
  @include mat.button-color($app-light-theme);
  @include mat.core-color($app-light-theme);
}

.dark-theme {
  @include mat.all-component-colors($app-dark-theme);
  @include mat.button-color($app-dark-theme);
  @include mat.core-color($app-dark-theme);
}

// Aplicando tipografia global

:root,
html,
body {
  @include mat.typography-hierarchy($typography-config);

  h3 {
    font-size: 16px;
  }

  small {
    font-size: x-small;
  }


  --back-accent: $background-accent-dark;
  --back-primary: $background-primary-dark;
}
