@use "theme-variables.scss" as *;

@mixin toolbar-config {
  height: $toolbar-height;
  background-color: inherit;
}

@mixin page-default {
  $width: min($page-defaultsize, 100%);

  width: $width;
  max-width: $width;
  margin: 0 auto;
}

@mixin set-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

@mixin clickable-icon {
  cursor: pointer;

  &:hover {
    color: $accent-color-light;
  }
}
