@use 'theme-variables' as *;

@mixin setlight() {
  .floating-btn {
    color: white;
    background-color: $primary-color-light;
  }

  .notification-list {
    background-color: $background-primary-light;
  }

  .notification-item {
    button {
      color: $primary-color-light;
    }
  }

  #scan-line {
    background-color: $primary-color-light;
    box-shadow: 0px 0px 10px $primary-color-light;
  }

  mat-card-title.mat-card-title, .detalhe:hover, .active-menu-item {
    color: $primary-color-light;
  }

  .swipeable-item, .list-wait {
    background-color: $background-accent-light;
  }

  mat-list-item:hover {
    cursor: pointer;
    background-color: $color-hover-light;
  }

  .component-container {
    background-color: $background-primary-light;
  }
}

@mixin setDark() {
  .floating-btn {
    color: white;
    background-color: $accent-color-dark;
  }

  .notification-list, .component-container {
    background-color: $background-primary-dark;
  }

  .notification-item {
    button {
      color: $primary-color-dark;
    }
  }

  #scan-line {
    background-color: $primary-color-dark;
    box-shadow: 0px 0px 10px $primary-color-dark;
  }

  mat-card-title.mat-card-title, .detalhe:hover, .active-menu-item {
    color: $primary-color-dark;
  }

  .swipeable-item, .list-wait {
    background-color: $background-accent-dark;
  }

  mat-list-item:hover {
    cursor: pointer;
    background-color: $color-hover-dark;
  }
}
