@use "@angular/material" as mat;
@use "sass:map";

@use "./app-theme.scss" as *;

$color-config: mat.get-color-config($app-theme);
$primary-color: mat.get-color-from-palette(map.get($color-config, "primary"));
$accent-color: mat.get-color-from-palette(map.get($color-config, "accent"));
$secondary-color: #FFBC0A;

$color-background: #f8fafb;
$color-background-default: #ffffff;
$color-low-emphasis: rgba(0, 0, 0, 0.54);
$color-medium-emphasis: rgba(0, 0, 0, 0.6);
$color-high-emphasis: rgba(0, 0, 0, 0.87);
$color-disabled: rgba(0, 0, 0, 0.38);

// Configuração das cores de fonte
$font-primary: $primary-color;
$font-accent: $accent-color;
$font-low-emphasis: $color-low-emphasis;
$font-medium-emphasis: $color-medium-emphasis;
$font-high-emphasis: $color-high-emphasis;
$font-disabled: $color-disabled;

// Configuração das cores de status do sistema
$color-status-urgent: #ff0f0f;
$color-status-resolved: #4caf50;
$color-status-pendent: #ff8f00;

// Sizes
$toolbar-height: 80px;
$item-menu-height: 40px;
$page-defaultsize: 1280px;
