<div class="app-container">

    <!-- Cabeçalho com logo e tema -->
    <header class="app-header">
        <div class="logo">
            <mat-icon [svgIcon]="iconeLogo" (click)="goHome()"></mat-icon>
            <div class="menu-home">

                <button mat-icon-button class="btn-theme" (click)="toggleTheme()">
                    <mat-icon [matTooltip]="iconTheme">{{ iconTheme }}</mat-icon>
                </button>
                <button mat-icon-button class="btn-theme" (click)="fileInput.click()">
                    <input hidden (change)="uploadList($event)" #fileInput type="file">
                    <mat-icon>backup</mat-icon>
                </button>

            </div>
        </div>
    </header>

    <!-- Menu lateral (desktop) ou no rodapé (mobile) -->
    <div class="app-main">
        <aside class="app-sidenav">
            <app-menu-side></app-menu-side>
        </aside>

        <!-- Conteúdo principal -->
        <main class="content">
            <router-outlet></router-outlet>
        </main>

    </div>
    <!-- Menu no footer apenas para mobile -->
    <app-menu-footer *ngIf="isMobile"></app-menu-footer>

</div>
