@use "mixins" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: slategray;
  padding: 16px;
  gap: 32px;

  mat-icon {
    font-size: 64px;
    height: auto;
    width: auto;
    line-height: 64px;
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}
