<div class="list-item-content" [attr.completed]="item.isPurchased" >
    <div class="item-container">
        <mat-icon class="icon-status" [ngClass]="{
            'icon-add': item.adding,
            'icon-remove': !item.adding,
            'icon-done': item.isPurchased
            }">
            <ng-container *ngIf="item.isPurchased; else notCompleted">
                check_circle
            </ng-container>
            <ng-template #notCompleted>
                {{ item.adding ? 'add' : 'close' }}
            </ng-template>
        </mat-icon>
        <span class="item-name">{{item.name}}</span>
    </div>
    <div class="counter-container" *ngIf="!item.adding">
        <div class="detalhe" (click)="editItem($event)">
            <small>{{ item.quantity | number:'1.1-1'}} </small>
        </div>
        <button class="counter-button" (click)="increase($event)">
            <mat-icon>add</mat-icon>
        </button>
        <button class="counter-button" (click)="decrease($event)">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>
