:host {
  width: 100%;
  margin-inline: 8px;
}

.list-item-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;


  .item-container {
    display: inline-flex;
    align-items: center;
  }

  .icon-status {
    transition: transform 0.4s ease, color 0.4s ease;
    /* Animação suave */
    margin-right: 8px;
  }

  .item-name {
    font-size: 1rem;
    flex-grow: 1;
  }

  .list-item-content[completed="true"] {
    filter: opacity(0.4);
  }

  .icon-add {
    color: #00b894;
    /* Verde para adicionar */
  }

  .icon-remove {
    color: #e74c3c;
    /* Vermelho para remover */
  }

  .icon-done {
    color: #3498db;
  }

  .icon-status.icon-add {
    transform: rotate(0deg);
    /* Ícone de adicionar na posição normal */
  }

  .icon-status.icon-remove {
    transform: rotate(90deg);
    /* Rotaciona para o X */
  }

  .icon-status.icon-done {
    transform: rotate(0deg);
    filter: opacity(0.8);
  }

  .counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Espaçamento entre os botões */
  }

  .counter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 35%;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s, opacity 0.2s;
    opacity: 0.8;
    padding: 0;
  }

  .counter-button:hover {
    filter: brightness(0.9);
    opacity: 1;
  }

  .counter-button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .counter-button mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }

  .detalhe {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: white;
    opacity: 0.7;
    border-radius: 8px;
    color: black;
    padding: 4px;
    box-shadow: 0px 0px 2px 2px #00b894;
    box-sizing: border-box;
    min-width: 32px;
  }
}
