<img id="product-image" alt="Imagem do Produto" *ngIf="productImageSrc" [src]="productImageSrc">
<div id="camera-container">
    <ng-container *ngIf="!isCameraAccessible">
        <small id="barcode-result">Código de Barras: {{ barcode }}</small>
        <div id="camera-wrapper" *ngIf="!productImageSrc">
            <div id="interactive" #interactive class="viewport"></div>
            <div id="scan-line"></div>
        </div>
        <canvas #capturedCanvas style="display: none;"></canvas>
        <div class="result">
            <button mat-stroked-button color="primary" class="btn-scan-preco" [disabled]="isProcessingOcr"
                (click)="processPreco()">
                <div style="display: flex; gap: 8px; align-items: center;">
                    <mat-icon *ngIf="isProcessingOcr">hourglass_empty</mat-icon> <!-- Ícone de loading -->
                    <mat-icon *ngIf="!isProcessingOcr">paid</mat-icon>
                    <small>{{ isProcessingOcr ? 'Processando...' : 'Ler preço' }}</small>
                </div>
            </button>
            <mat-chip-list>
                <mat-chip *ngFor="let price of preco; let i = index"
                    [ngClass]="{'selected-chip': selectedPrices.includes(price)}" (click)="selectPreco(price)">
                    {{ price }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </ng-container>
</div>

<mat-form-field *ngIf="!isCameraAccessible">
    <input matInput placeholder="Digite o código de barras" (keyup.enter)="onBarcodeInput($event.target)"
        (blur)="blur(barcodeInput.value)" #barcodeInput />
    <button mat-icon-button matSuffix (click)="onBarcodeInput(barcodeInput?.value)">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>
