@use "theme-variables" as *;
.mat-expansion-panel-body {
  padding: 0;
}

:host ::ng-deep .component-header .mat-form-field-wrapper {
  padding-bottom: 0;
}

body.light-theme :host {
  .scroll-container>mat-expansion-panel {
    background-color: $background-accent-light;
    border-radius: $radius-default;

    .itens-historico {
      background-color: $background-primary-light;
    }
  }
}

body.dark-theme :host {
  .scroll-container>mat-expansion-panel {
    background-color: $background-accent-dark;
    border-radius: $radius-default;

    .itens-historico {
      background-color: $background-primary-dark;
    }
  }
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  overflow-x: clip;

  .component-header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    justify-content: space-between;
  }

  .component-container {
    overflow-y: auto;
    overflow-x: clip;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: transparent;
  }

  .scroll-container {
    display: flex;
    gap: 8px;
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
  }

  .item-container .item-header {
    position: sticky;
    top: 0;
    /* Fica no topo do contêiner de rolagem */
    z-index: 2;
    /* Garante que o header fique acima dos outros elementos */
    transition: background 0.3s ease;
  }

  .item-container {
    opacity: 0.8;
    border-radius: $radius-default;
    padding: 0;
    flex-direction: column;
    display: flex;
    // min-height: fit-content;

    .rotated {
      transform: rotate(180deg);
    }

    .item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      padding: 16px;

      span {
        padding-block: 16px;
        align-content: center;
      }
    }

    .itens-historico {

      max-width: 400px;
      padding: 16px;
      border-radius: 12px;
      margin: 4px;

      display: flex;
      gap: 16px;
      flex-direction: column;

      mat-chip {
        cursor: pointer;
        max-width: 45%;
        padding: 8px;
        flex-direction: column;
        height: auto;

        div {
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          padding: 4px;
        }

        small {
          font-size: x-small;
        }
      }
    }

    .itens-historico>h3 {
      margin: 0;
    }
  }
}

.red-option,
.red-option mat-icon {
  color: #e74c3c;
}
