:host {
  overflow: auto;
  cursor: pointer;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

@media (min-width: 768px) {
  :host {
    width: 450px;
    margin-inline: auto;
  }
}

.listas-container {
  display: flex;
  padding: 0;
  gap: 16px;
  flex-direction: column;

  #itens {
    height: auto;
    padding-inline: 32px;
    width: auto;
  }

  mat-list-item {
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
  }
}

.floating-btn {
  position: fixed;
  bottom: 8vh;
  right: 8vw;
  z-index: 100;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .floating-btn {
    right: 36vw;
  }
}
