@use "theme-variables" as *;

:host {
  overflow: auto;
  cursor: pointer;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

@media (min-width: 768px) {
  :host {
    width: 450px;
    margin-inline: auto;
  }
}

.listas-container {
  display: flex;
  padding: 0;
  gap: 16px;
  flex-direction: column;

  #itens {
    height: auto;
    padding-inline: 24px;
    width: auto;
  }

  mat-list-item {
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: $radius-default;
  }
}

.floating-btn {
  position: fixed;
  bottom: 10vh;
  right: 8vw;
  z-index: 100;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  min-width: fit-content;
}

@media (min-width: 1200px) {
  .floating-btn {
    right: 36vw;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#install-popup {
  animation: fadeIn 0.3s ease-in-out;
}

#install-popup {
  background: rgba(255, 255, 255, 0.6); /* Transparência */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  backdrop-filter: blur(10px); /* Desfoque no fundo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
  color: #333;
}

.after {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  backdrop-filter: blur(10px); /* Desfoque no fundo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
  color: #333;
}

body.landscape {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
}

body.landscape * {
  display: none;
}

body.landscape::before {
  content: "Use o app no modo retrato.";
  font-size: 20px;
  text-align: center;
  color: white;
}
