:host {
  overflow: auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  :host {
    width: 450px;
    margin-inline: auto;
  }
}

#itens {
  height: auto;
  padding-inline: 32px;
  width: auto;
}

mat-list {
  display: flex;
  padding: 0;
  gap: 16px;
  flex-direction: column;
}

mat-list-item {
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.floating-btn {
  position: fixed;
  bottom: 8vh;
  right: 8vw;
  z-index: 100;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
