@use "theme-variables" as *;

mat-card-content {
  gap: 32px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: calc(100% - 214px);
  overflow: hidden;
}

.features {
  mat-icon:not(.btn),
  small {
    color: $color-disabled;
  }

  display: flex;
  gap: 16px;
  align-items: center;

  span {
    font-weight: 500;
  }
}

.neutro {
  color: $color-disabled;
}
