@use "theme-variables" as *;

:host {
  mat-bottom-sheet-container{
    border-radius: 16px;
  }
}

.bottom-sheet {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .drag-handle {
    width: 50px;
    height: 5px;
    background-color: #ccc;
    border-radius: 2.5px;
    margin: 0 auto 16px;
    cursor: pointer; // Mudança de cursor para indicar que pode ser clicado/arrastado
  }

  .complete-edit {
    transition: max-height 0.3s ease; // Transição suave ao expandir
  }

  .simple-edit {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .complete-edit {
    margin-top: 16px;
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }


  form {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    align-items: center;

    h2 {
      margin-right: auto;
      padding-right: 8px;
      letter-spacing: 1px;
      color: $primary-color-light;
      cursor: pointer;
    }
  }

  .floating-btn {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
  }

  mat-form-field {
    max-width: 88px;
  }

  .total-value{
    display: flex;
    flex-direction: column;
    margin: 8px;
    overflow: hidden;
  }
}
