<div class="notification-list">
    <h3>Notificações</h3>
    <div *ngFor="let notification of notifications" class="notification-item"
        [ngClass]="{'unread': !notification.read}">
        <div class="notification-content">
            <p>{{ notification.message }}</p>
            <span class="notification-time">{{ notification.timestamp | date:'shortTime' }}</span>
        </div>
        <button mat-icon-button (click)="markAsRead(notification)">
            <mat-icon>check_circle</mat-icon>
        </button>
    </div>
</div>
