@use "theme-mixins" as *;
@use "theme-variables" as *;


:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  div.radius-buttons {
    button[disabled] {
      background: #00b894;
    }

    button:not(button[disabled]) {
      opacity: 0.6;
    }
  }
}

body.light-theme :host {
  background-color: $background-accent-light;
}

body.dark-theme :host {
  background-color: $background-accent-dark;
}

.map-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: $radius-default;
}

#map.mini-map {
  min-height: 25%;
  max-height: 25%;
}

.bottom-bar {
  height: 300px;
  bottom: 0;

  opacity: 0;
  transition: height 1s ease, opacity 1s ease, margin-block 1s ease;
  height: 0;
  opacity: 0;
  margin-block: 0;
}

.displayed {
  transition: height 1s ease, opacity 1s ease;
  margin-block: 16px;
  height: auto;
  opacity: 1;
  overflow: hidden;
}

:host ::ng-deep .leaflet-marker-icon:not(.user-marker-icon) {
  filter: hue-rotate(228deg) saturate(460%) brightness(120%);
}

mat-form-field {
  margin-top: 16px;
  width: 100%;
}


/* Tornar o botão visível apenas no mobile */
@media (max-width: 767px) {
  .floating-btn {
    display: block;
  }
}

.search-field {
  width: 100%;
}

@media (min-width: 768px) {
  .floating-btn {
    display: none;
  }

  /* Layout para desktop */
  .map-container {
    display: flex;
    flex-direction: row;
  }

  .map {
    width: 70%;
    height: 100%;
  }

  .displayed {
    width: 30%;
    min-width: 300px;
  }
}

.floating-btn {
  position: fixed;
  bottom: 10vh;
  right: 8vw;
  z-index: 1000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  min-width: fit-content;
}



h2 {
  margin: 0;
}

.component-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.component-content {
  display: flex;
  overflow: hidden;
  padding: 8px;
}

.radius-buttons {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-list {
  overflow: auto;
}

.loading-container {
  position: absolute;
  top: 0;
  /* Ajuste conforme a posição do seu mapa */
  left: 0;
  right: 0;
  // margin-inline: 18px;
  height: 3px;
  /* A altura pode ser ajustada para parecer mais discreta */
  z-index: 1;
  /* Certifique-se de que a barra fique abaixo do mapa */
  pointer-events: none;
  /* Isso permite interagir com o mapa sem bloquear */
}

.progress-bar {
  background: transparent;
  border-radius: 10px;
  height: 100%;
  /* Ocupa toda a altura do contêiner */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* Sombra discreta */
}

.item-address {
  display: flex;
  flex-direction: column;
}

mat-list-item {
  padding-block: 12px !important;
}

small {
  opacity: 0.6;
}
.item-address-selected{
  color: $primary-color-dark;
}

.floating-btn-salvar {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  min-width: fit-content;
}
