<div class="map-container">
    <div id="map" style="width: 70%; height: 100vh;"></div>
    <div class="sidebar">
        <mat-form-field class="search-field">
            <mat-label>Pesquisar</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Pesquisar" #campoSearch/>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-list>
            <mat-list-item *ngFor="let marketData of mapToArray(marketMarkersMap)"
                (mouseover)="highlightMarker(marketData.details.id)"
                (mouseout)="unhighlightMarker(marketData.details.id)"
            >{{ marketData.details.name }}
            </mat-list-item>
        </mat-list>
    </div>
</div>
