:host {
  gap: 8px;
  flex-direction: column;
  padding: 12px 0;
  width: 100%;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  gap: 8px;
  align-items: center;
}

.produto {
  display: flex;
  align-items: center;
}

.preco {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.detalhe {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  white-space: nowrap;
}

.h3 {
  margin: 0;
}

.descricao {
  width: 100%;
  margin-inline: 8px;
  align-items: center;
  display: flex;
}

.item-container {
  display: grid;
  align-items: center;
  padding-inline: 8px;
  grid-template-columns: 1fr repeat(2, max-content);
  gap: 16px;
}

.item-actions {
  display: flex;
  align-items: center;

  &.mark-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #00b894;
    cursor: pointer;
    margin-right: 8px;
    transition: color 0.3s ease;

    &:hover {
      color: #019875;
    }
  }

  &.remove-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #e74c3c;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #c0392b;
    }
  }
}



@media (min-width: 768px) {

  /* Adapta para telas maiores que 768px (tamanho típico de tablets) */
  .list-container {

    width: 100%;
    /* Permite que ela cresça conforme o conteúdo */
    min-width: 450px;
    /* Define a largura mínima no PC */
  }
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 8px;
}
