<div class="bottom-sheet">
    <div class="actions">
        <div class="title-header">

            <mat-form-field *ngIf="isEditing">
                <mat-label>Nome do Item</mat-label>
                <input matInput [formControl]="editForm.controls.nome"
                    (blur)="updateName(campoFoco.value)"
                    (keydown.enter)="updateName(campoFoco.value)"
                    placeholder="Ex: Leite" autofocus #campoFoco>
                    <button matSuffix mat-icon-button (click)="updateName(campoFoco.value)">
                        <mat-icon matTooltip="Atualizar..">done</mat-icon>
                    </button>
            </mat-form-field>

            <ng-container *ngIf="!isEditing">
                <h3 (click)="enableEditing()"> {{ editForm.controls.nome.value }} </h3>
            </ng-container>

        </div>

        <button mat-raised-button class="floating-btn" color="primary" (click)="saveCurrentItem(); close()">Finalizar</button>
        <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </div>

    <!-- Edição Simples -->
    <form [formGroup]="editForm" class="edit-form">

        <div class="valores">
            <mat-form-field >
                <mat-label>Preço</mat-label>
                <input matInput type="currency" inputmode="decimal" [formControl]="editForm.controls.preco"
                    placeholder="Ex: 12.50" #campoFoco>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Quantidade</mat-label>
                <input matInput type="number" [formControl]="editForm.controls.quantidade" placeholder="Ex: 3">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Unidade</mat-label>
                <mat-select [formControl]="editForm.controls.unidade">
                    <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="total-value">
                <small>Total</small>
                <span> {{valorCalculado | currency}} </span>
            </div>
        </div>

        <mat-form-field class="full-field">
            <mat-label>Anotações</mat-label>
            <input matInput [formControl]="editForm.controls.anotacao">
        </mat-form-field>

        <div class="actions">
            <button mat-icon-button (click)="goToPreviousItem()" [disabled]="!hasPreviousItem()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button (click)="goToNextItem()" [disabled]="!hasNextItem()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </form>
</div>
