@use "theme-variables" as *;

mat-card-title {
  text-transform: capitalize;
  color: $primary-color;
}

.timeline-dias {
  display: flex;
  justify-content: space-between;
}

.timeline-dia {
  display: flex;
  max-width: 48px;
  min-width: 48px;
  min-height: 48px;
  max-height: 48px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.timeline-dia-numero {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.timeline-semana {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
}

.selecao-dia-hoje {
  & small {
    color: $color-background-default;
  }

  border: 1px solid $primary-color;
  background-color: $primary-color;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-super {

  display: flex;
  justify-content: space-between;
  align-items: center;
}
