<div class="component-header">
    <button mat-icon-button (click)="navigatePerfil()">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <ng-container *ngIf="!isSearchExpanded">
        <ng-container *ngIf="inventoryList$ | async as itemsDispensa">
            {{ itemsDispensa?.length ? "Itens na Dispensa (" + itemsDispensa?.length + ")" : "Nada por aqui ainda" }}
        </ng-container>

        <!-- Botão para expandir a busca -->
        <button mat-icon-button (click)="toggleSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </ng-container>

    <!-- Campo de busca expandido -->
    <div class="search-container" *ngIf="isSearchExpanded">
        <mat-form-field class="search-field">
            <mat-label>Pesquisar</mat-label>
            <input matInput [formControl]="searchControl" placeholder="pesquisar" #campoSearch (blur)="closeSearch()" />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>
<mat-card class="mat-elevation-z0 component-container" style="display: flex; gap: 24px;">
    <mat-card-content>

        <!-- Seção Reposição -->
        <ng-container *ngIf="(groupedInventory$ | async)?.['Reposição']; let itensReposicao">
            <div *ngIf="itensReposicao.length" class="itens-dispensa">
                <h3>Reposição</h3>
                <mat-chip-list>
                    <mat-chip *ngFor="let item of itensReposicao; trackBy: trackById"
                        [ngClass]="{ 'alread-listed': item | convertWithFn:inCurrentList}"
                        (click)="openBottomSheet(item)"> {{ item.name }} ({{ item.currentQuantity }})
                        <mat-icon style="margin-left: 2px;" *ngIf="inCurrentList(item)">check_circle</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>

        <!-- Demais Agrupamentos -->
        <ng-container *ngFor="let unit of (groupedInventory$ | async | keyvalue)">
            <div *ngIf="unit.key !== 'Reposição'" class="itens-dispensa">
                <h3>{{ unit.key | titlecase }}</h3>
                <mat-chip-list>
                    <mat-chip *ngFor="let item of unit.value; trackBy: trackById" color="primary"
                        (click)="openBottomSheet(item)">
                        {{ item.name }} ({{ item.currentQuantity }})
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>

    </mat-card-content>
</mat-card>
