@use 'theme-variables' as *;

:host ::ng-deep .chat-container .mat-form-field-wrapper {
  flex: 1;
  padding-bottom: 0;
}

:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-color-dark;
  border-radius: 16px;
  padding: 16px;
  overflow: hidden;
  margin: 16px;
  width: 100%;
  gap: 24px;
}

.chat-messages {
  overflow-y: auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-right: 16px;
  margin-top: 24px;
}

.user {
  text-align: right;
  font-weight: bold;
  margin: 5px 0;
}

.assistant {
  text-align: left;
  color: slategray;
  margin: 5px 0;
  font-style: italic;
}

.chat-input {
  display: flex;
  gap: 16px;
  margin-top: auto;
}
