@use 'theme-variables' as *;

:host ::ng-deep .title-header>*>.mat-form-field-wrapper {
  padding-bottom: 0;
}

.bottom-sheet {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .edit-form {
    display: flex;
    flex-direction: column;
  }

  .full-field {
    flex: 1
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    align-items: center;

    .title-header {
      display: grid;
      grid-template-columns: 2fr 1fr auto;
      align-items: center;
      gap: 16px;
      margin-right: auto;
      padding-right: 8px;
      letter-spacing: 1px;
      color: $primary-color-light;
      cursor: pointer
    }
  }

  .floating-btn {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    min-width: fit-content;
  }

  .valores {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    width: 100%;


    mat-form-field {
      max-width: 88px;
    }

    .total-value {
      display: flex;
      flex-direction: column;
      margin: 8px;
      overflow: hidden;
    }

  }
}

.counter-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 35%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.2s, opacity 0.2s;
  opacity: 0.8;
  padding: 0;
}

.value-update{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: fit-content;
  justify-content: center;
}
