@use 'theme-variables' as *;
@use 'theme-mixins' as *;
@use 'app-theme' as *;
@use '@angular/material' as mat;
@import '@angular/material/theming';

html, body {
  overflow: hidden; /* Remove o scroll global */
  touch-action: none; /* Desativa gestos de rolagem no corpo */
  // overscroll-behavior: auto; /* Permite o comportamento de swipe */
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.light-theme {
  --primary-color:  $primary-color-light;

  .mat-chip.mat-standard-chip {
    background-color: $primary-color-light;
    box-sizing: border-box;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: auto;
    cursor: default;
    font-size: small;
  }

  background-color: $background-primary-light;
  color: #000;

  a {
    color: $font-primary;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $primary-color-light;
    outline: 2px $background-primary-light solid;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background: $background-primary-light;
    outline: 2px $background-primary-light solid;
    background-clip: padding-box;
  }

  .primary-color {
    color: $primary-color-light;
  }

  @include setlight();
}

body.dark-theme {
  --primary-color:  $primary-color-dark;

  .mat-chip.mat-standard-chip {
    background-color: $primary-color-dark;
    box-sizing: border-box;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: auto;
    cursor: default;
    font-size: small;
  }

  background-color: $background-primary-dark;
  color: #fff;

  // Estilos que usam as cores do tema
  a {
    color: $font-primary;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $primary-color-dark;
    outline: 2px $background-primary-dark solid;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background: $background-primary-dark;
    outline: 2px $background-primary-dark solid;
    background-clip: padding-box;
  }

  .primary-color {
    color: $primary-color-dark;
  }

  @include setDark();
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
  height: 8px;
}

.texto-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: auto;
  cursor: default;
}

snack-bar-container.app-toast-container {
  position: absolute;
  bottom: 90px;
  right: 16px;
  border-radius: 16px;

  margin: 0px;
  padding: 0px;
  max-width: 450px;
}

.mat-snack-bar-handset .mat-snack-bar-container {
  width: calc(100% - 32px) !important;
  right: 0 !important;
}

.component-container {
  height: inherit;
  gap: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 32px;
}

mat-card {
  box-sizing: border-box;
  overflow: hidden;
}

.full-screen-dialog .mat-dialog-container {
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 0;
}

h3,
h4,
.mat-card-heade.mat-card-title {
  font-weight: 400;
}

body.light-theme mat-bottom-sheet-container,
body.dark-theme mat-bottom-sheet-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-bottom: 32px;
}

.rounded-container>.mat-dialog-container {
  border-radius: $radius-default;
}



/* Estilos Responsivos */
@media (max-width: 840px) {
  .component-container {
    gap: 16px;
    padding: 16px;
  }
}


input.input-element {
  color: $primary-color-dark;
}


.mat-expansion-panel-body {
  padding: 0 !important;
  // margin: 6px;
  // background: #424242;
  // border-radius: 16px;
}
