:host {
  padding: 8px;
  overflow: hidden;
  /* Retirar o scroll do host */
  height: 100%;
}

mat-list-item#itens:last-child::after {
  border-bottom: none;
  content: none;
}

mat-list-item#itens,
mat-list-item#itens {
  min-height: auto;
  align-items: flex-start;
  height: auto;
}

.shopping-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.list-container {
  overflow: auto;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

mat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-wait {
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.list-done {
  filter: opacity(50%);
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}


mat-list-item::after {
  content: "";
  position: absolute;
  left: 16px;
  /* Ajusta onde a borda começa */
  right: 16px;
  /* Ajusta onde a borda termina */
  bottom: 0;
  height: 1px;
  background-color: #e0e0e0;
}

mat-list-item>span {
  width: 100%;
}

app-shopping-item {
  display: flex;
  flex: 1;
}

.floating-btn {
  position: fixed;
  bottom: 8vh;
  right: 8vw;
  z-index: 100;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.floating-btn:hover {
  background-color: #019875;
}

@media (max-width: 600px) {
  .floating-btn {
    bottom: 5vh;
    right: 8vw;
  }
}

@media (min-width: 1200px) {
  .floating-btn {
    right: 36vw;
  }
}

.total-value {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  align-items: baseline;

  mat-divider {
    width: 1px;
    height: 16px;
  }
}
