:host {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
}

mat-list-item#itens:last-child::after {
  border-bottom: none;
  content: none;
}

mat-list-item#itens,
mat-list-item#itens {
  min-height: auto;
  align-items: flex-start;
  height: auto;
}
.header {
  width: 100%;
  display: flex;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.shopping-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: inherit;
}
.edicao-container{
  padding-top: 16px;
  display: flex;
  gap: 64px;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.list-container {
  overflow: auto;
  margin-top: 16px;
  width: 100%;
}



@media (min-width: 768px) {
  .list-container {
    width: auto;
    min-width: 50%;
  }}

.title {
  margin: auto;
}

h3 {
  margin: 0;
}

.list-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.swipeable-container {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.swipeable-item {
  display: flex;
  align-items: center;
  width: 100%; /* Garante que ocupe todo o espaço */
  background-color: white; /* Cor de fundo padrão */
  transition: background-color 0.3s ease; /* Transição para a cor de fundo */
}

.swipeable-item2 {
  display: flex;
  align-items: center;
  width: 100%; /* Garante que ocupe todo o espaço */
}

.completed-icon {
  margin-left: auto;
  color: #00b894; /* Cor para indicar completado */
}

mat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-wait {
  background-color: #00b894;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-done {
  filter: opacity(50%);
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}


mat-list-item::after {
  content: "";
  position: absolute;
  left: 16px;
  /* Ajusta onde a borda começa */
  right: 16px;
  /* Ajusta onde a borda termina */
  bottom: 0;
  height: 1px;
  background-color: #e0e0e0;
}

mat-list-item>span {
  width: 100%;
}

app-shopping-item {
  display: flex;
  flex: 1;
}

.floating-btn {
  position: fixed;
  bottom: 8vh;
  right: 8vw;
  z-index: 100;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.floating-btn:hover {
  background-color: #019875;
}

@media (max-width: 600px) {
  .floating-btn {
    bottom: 5vh;
    right: 8vw;
  }
}

@media (min-width: 1200px) {
  .floating-btn {
    right: 36vw;
  }
}

.total-value {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  align-items: baseline;

  mat-divider {
    width: 1px;
    height: 16px;
  }
}

.search-panel {
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 16px;
}

.open-search {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (min-width: 768px) {
  .search-panel {
    display: block;
  }
}

.dialog-content {
  display: flex;
  overflow: hidden;
  height: 100%;
  gap: 64px;
}
