<div class="search-header">
    <button mat-icon-button (click)="closeEmit.emit()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-form-field class="search-field">
        <mat-label>Pesquisar</mat-label>
        <input matInput [formControl]="searchControl" placeholder="pesquisar" #campoSearch />
    </mat-form-field>
</div>

<div class="search-content">
    <mat-list>
        <mat-list-item *ngFor="let item of filteredItems" (click)="toggleItem(item)">
            <div class="list-item-content">
                <mat-icon class="icon-status" [ngClass]="{ 'icon-add': item.adding, 'icon-remove': !item.adding }">
                    {{ item.adding ? 'add' : 'close'}}
                </mat-icon>
                <span class="item-name">{{item.nome}}</span>
            </div>
        </mat-list-item>
    </mat-list>
</div>
