@use "theme-mixins" as *;
@use "theme-variables" as *;

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.floating-btn {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  min-width: fit-content;
}

.search-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
}

:host {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.light-theme :host {
  .itens-dispensa {
    background-color: $background-accent-light;
  }

  mat-card {
    background-color: $background-primary-light;
  }
}

body.dark-theme :host {
  .itens-dispensa {
    background-color: $background-accent-dark;
  }

  mat-card {
    background-color: $background-primary-dark;
  }
}

.component-header {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  justify-content: space-between;

  .search-field {
    width: 100%;
    overflow: hidden;
  }

  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.component-container {
  height: 100%;

  .notification-list {
    width: 100%;
    max-width: 400px;
    padding: 16px;

    overflow: auto;

    .notification-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ccc;

      .notification-content {
        flex: 1;

        span {
          color: $font-primary;
        }
      }

      .notification-time {
        font-size: 0.75rem;
        color: $color-low-emphasis;
      }
    }
  }

  mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 16px;
  }

  .itens-dispensa {
    padding: 16px;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    mat-chip {
      cursor: pointer;

      &.alread-listed {
        opacity: 0.5;
      }
    }
  }

  .itens-dispensa>h3 {
    margin: 0;
  }
}
